<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!   {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block menu %}
    <div class="img1">
        {% image "bundles/Analatica/image/a.png" %}
        <img src="{{ asset_url }}"/>
        {% endimage %}
    </div>

    <ul>
        <li>Home</li>
        <li>Lien1</li>
        <li>Lien2</li>
        <li>Lien3</li>
    </ul>
{% endblock %}
{% block body %}

{% endblock %}
{% block javascripts %}

    {% javascripts 'bundles/webnavigateur/css/bootstrap-3.1.1/dist/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}



    {% javascripts 'bundles/webnavigateur/js/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {% javascripts 'bundles/webnavigateur/Highcharts/highcharts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'bundles/webnavigateur/Highcharts/modules/exporting.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
